/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: #032740 url(images/DeepBlue20/background.png?version=1) no-repeat
		center top;
	color: #000;
	line-height: 1.4;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 15px;
	padding: 80px 10px 0px;
	min-height: 100vh;
}

.carrera-titulo {
	color: rgb(235, 235, 235);
	text-align: center;
}

.año-titulo {
	color: rgb(235, 235, 235);
	text-decoration: underline;
}

.materias-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 15px 15px;
}

.materia {
	background-color: #fff;
	border-radius: 5px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
}

.nombre-materia {
	text-align: center;
	font-size: 16px;
	background-color: #328091;
	border-radius: 5px 5px 0px 0px;
	padding: 5px 10px;
}

.calculadora {
	color: #000;
	padding: 5px 10px;
	text-decoration: none;
}

.calculadora:hover {
	color: #000;
	background-color: rgba(216, 216, 216, 0.44);
	border-radius: 0px 0px 5px 5px;
	text-decoration: none;
}

.calculadora-espacio {
	padding: 5px;
}
