/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: #032740 url(images/DeepBlue20/background.png?version=1) no-repeat
		center top;
	color: #000;
	line-height: 1.4;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 80px 10px 0px;
	min-height: 100vh;
}
